.img-avatar{
  width: 100px; 
  height: 100px; 
  border-radius: 50px; 
  margin: 5px;
}

@media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }

    .mat-table {
        min-width:800px;
    }
}
