<div class="container-register" style="border-radius: 8px">
<h3 style="text-align: center">Reset password</h3>
 <form #reset="ngForm" [formGroup]="resetForm" style="margin: 0 auto" (ngSubmit)="onSubmit()">
  <mat-form-field style="width: -webkit-fill-available">
    <input matInput 
      type="password" 
      formControlName="password" 
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
      name="password"  
      placeholder="New password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
    </div>
  </mat-form-field>
  <br>
  <mat-form-field style="width: -webkit-fill-available">
    <input matInput 
      type="password" 
      formControlName="password_confirmation" 
      [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" 
      name="password_confirmation"  
      placeholder="Password confirmation">
    <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
        <div *ngIf="f.password_confirmation.errors.required">Password confirmation is required</div>
        <div *ngIf="f.password_confirmation.errors.minlength">Password must be at least 8 characters</div>
    </div>
  </mat-form-field>

  <div style="text-align: center">
  <button [disabled]="loading" class="btn-r"  mat-raised-button>Reset password</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>
</div>
