<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <!--
        https://github.com/angular/material2/issues/3215
      -->
      <a mat-list-item class="mat" (click)="sidenav.close()" >
        <mat-icon>menu</mat-icon>
        <span style="margin: 0 auto">Main</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" 
          *ngIf="islogged && _currentUser" 
          [routerLink]="['/profile/',_currentUser.id]">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span mat-line>Go to Profile</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" 
          *ngIf="_currentUser?.role == 'admin'" 
          [routerLink]="['/admin/dashboard']">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span mat-line>Management Users</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="fixed-header">
        <button type="button" 
          *ngIf="islogged" 
          aria-label="Toggle sidenav" 
          mat-icon-button (click)="sidenav.open()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button mat-button (click)="sidenav.close()" [routerLink]="['/']">Main</button>
          <span class="example-spacer"></span>
        <button (click)="sidenav.close()" 
            *ngIf="!islogged" 
            [routerLink]="['/login']" 
            mat-button>
            Login
        </button>
        <button (click)="sidenav.close()" 
            *ngIf="!islogged" 
            [routerLink]="['/register']" 
            mat-button>
            Register
        </button>
        <button (click)="sidenav.close()" 
            *ngIf="islogged" 
            style="background-color: crimson;"
            (click)="logout()" 
            mat-button>
            Logout
        </button>
  </mat-toolbar>
<div class="my-content">
    <section style="margin-top: 50px" id="main">
      <router-outlet></router-outlet>
    </section>
  </div>
</mat-sidenav-container>
